<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/anitaweb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    <mapping resource="POJOS/Size.hbm.xml"/>
    <mapping resource="POJOS/State.hbm.xml"/>
    <mapping resource="POJOS/TempGrnItem.hbm.xml"/>
    <mapping resource="POJOS/Message.hbm.xml"/>
    <mapping resource="POJOS/Advertisement.hbm.xml"/>
    <mapping resource="POJOS/LoginReg.hbm.xml"/>
    <mapping resource="POJOS/User.hbm.xml"/>
    <mapping resource="POJOS/Item.hbm.xml"/>
    <mapping resource="POJOS/TempColor.hbm.xml"/>
    <mapping resource="POJOS/Pages.hbm.xml"/>
    <mapping resource="POJOS/Grn.hbm.xml"/>
    <mapping resource="POJOS/Subcat.hbm.xml"/>
    <mapping resource="POJOS/Cat.hbm.xml"/>
    <mapping resource="POJOS/CartItem.hbm.xml"/>
    <mapping resource="POJOS/Stock.hbm.xml"/>
    <mapping resource="POJOS/Supplier.hbm.xml"/>
    <mapping resource="POJOS/Cart.hbm.xml"/>
    <mapping resource="POJOS/Color.hbm.xml"/>
    <mapping resource="POJOS/ItemImage.hbm.xml"/>
    <mapping resource="POJOS/PagesHasUtype.hbm.xml"/>
    <mapping resource="POJOS/TempSize.hbm.xml"/>
    <mapping resource="POJOS/Addres.hbm.xml"/>
    <mapping resource="POJOS/WatchList.hbm.xml"/>
    <mapping resource="POJOS/GrnItem.hbm.xml"/>
    <mapping resource="POJOS/Login.hbm.xml"/>
    <mapping resource="POJOS/Utype.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
